{% extends "base.html" %}

{% block bodycontent %}
<div class="wrapper">
    <div class="row">
        <a href="{% url 'addteacher' %}">Add</a><br>
    </div>
    <div class="row">
        <div class="col-12 col-m-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h2>
                        Teachers
                    </h2>
                </div>
                <div class="card-content">
                    <table>
                        <thead>
                        <tr>
                            <th>Username</th>
                            <th>Name</th>
                            <th>DOB</th>
                            <th>Gender</th>
                            <th>Department</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for teacher in teachers %}
                        <tr>
                            <td>{{teacher.user_ref.username}}</td>
                            <td>{{teacher.user_ref.user_full_name}}</td>
                            <td>{{teacher.user_ref.user_dob}}</td>
                            <td>{{teacher.user_ref.get_user_gender_display}}</td>
                            <td>
                                {% for x in teacher.dept.all %}
                                {{x.dept_name}}<br>
                                {% endfor %}
                            </td>
                            <td><a href="{% url 'editteacher' teacher.id %}">Edit</a></td>
                            <td><a href="{% url 'deleteteacher' teacher.id %}">Delete</a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}