{% extends "studentpanel/base.html" %}

{% block bodycontent %}
<div class="wrapper">
    <div class="row">
        <div class="col-3 col-m-6 col-sm-6">
            <div class="counter bg-warning">
                <p>
                    <i class="fab fa-black-tie"></i>
                </p>
                <h3>2</h3>
                <p>Assignments</p>
            </div>
        </div>
        <div class="col-3 col-m-6 col-sm-6">
            <div class="counter bg-primary">
                <p>
                    <i class="fas fa-user-tie"></i>
                </p>
                <h3>2</h3>
                <p>Tests</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}